<% binding.pry %>
<h1>New Order for <%= @restaurant.name %></h1>

<%= form_for [@restaurant, @order] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :order.name %>

  <%= f.label :description %>
  <%= f.text_field :order.description %>

  <%= f.submit %>
<% end %>
