<%= link_to "Home", root_path %> <br />
<h2>Ordered Items:</h2>
<ul>
<% @ordered_items.each do |item| %>
<li> <%= item.name %> </li>
<% end %>
</ul>
<h3> <%= @restaurant.name %> Items</h3>
<ul>
<% @items.each do |item| %>
  <li> <%= item.name %>  <%= button_to "Add to Order", order_items_path(@order, item), method: :post %> </li>
<% end %>
</ul>
